/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Design System - CSS Variables */
:root {
  /* Global Variables */
  --container-width: 1280px;
  --primary-font: "Inter", sans-serif;
  --primary-background: #222222;
  --primary-color: #ffffff;
  --secondary-background: #ffffff;
  --secondary-color: #ffffff;

  /* Header Variables */
  --header-background: var(--primary-background);
  --header-height: 4rem;
  --header-color: var(--secondary-color);

  /* Footer Variables */
  --footer-background: var(--primary-background);
  --footer-color: var(--secondary-color);
  --footer-padding: 3rem 0 0;
  --footer-link-color: var(--secondary-color);
  --footer-text-color: var(--secondary-color);
  --footer-heading-color: var(--secondary-color);
  --footer-copyright-background: var(--primary-background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--primary-font);
}