@import "tailwindcss";

/* Design System - CSS Variables */
:root {
  /* Global Variables */
  --container-width: 1280px;

  /* Header Variables */
  --header-background: #ffffff;
  --header-height: 4rem;
  --header-text-color: #000000;
}