@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {

    --secondary-font: "Oswald", sans-serif;
    --title-font: var(--secondary-font);

    --primary-background: #d93b36;
    --secondary-background: #ffffff;

    --header-background: #3c3a38;
    --footer-background: #3c3a38;

    --footer-copyright-background: #242424;

    --button-primary-bg: var(--primary-background);
    --button-primary-color: var(--secondary-background);
    --button-primary-border: var(--primary-background);
    --button-primary-hover-bg: var(--primary-background);
    --button-primary-hover-color: var(--secondary-background);
    --button-primary-hover-border: var(--primary-background);

}

.floor-plan-card a.apply-now-btn,
.pagination button.active,
.unit-details a.apply-now-btn {
    background-color: var(--primary-background);
    color: #fff;
}

.floor-plan-card a.view-units-btn,
.unit-details a.view-units-btn,
.apartment-card a.view-details-btn {
    background-color: var(--primary-background);
}

.tabs button.tab.active {
    border-color: var(--primary-background);
}


.two-column-image-wrapper {
    &:after {
        content: '';
        position: absolute;
        top: -30px;
        right: -30px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: var(--primary-background);
        border-radius: .5rem;
    }
}

.two-column.two-column--reversed .two-column-image-wrapper:after {
    right: auto;
    left: -30px;
}